# Gradle
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.DS_Store
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Android
local.properties
*.log
*.hprof
captures/
.externalNativeBuild/
.cxx/

# Signing
*.jks
signing/your-*.keystore
keystore.properties

# OS
Thumbs.db
