<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xcctv.tvhelper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- 声明 Leanback 特性，让 Google Play/系统识别为 TV 应用 -->
    <uses-feature
        android:name="android.hardware.type.television"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:banner="@drawable/ic_banner"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- ContentProvider：FongMi file://xcctv/ -->
        <provider
            android:name=".XcctvProvider"
            android:authorities="com.xcctv.tvhelper.provider"
            android:exported="true"
            android:grantUriPermissions="true">
            <intent-filter>
                <action android:name="android.content.action.GET_CONTENT" />
                <data
                    android:scheme="file"
                    android:host="xcctv"/>
            </intent-filter>
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 开机广播接收器 -->
        <receiver android:name=".BootReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
